/* make entire page unselectable (locked) */
body {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
    font-size:18px;
    -webkit-user-drag: none;
}

img {
    -webkit-user-drag: none;
}

/* fullscreen cover if the user doesn't have js */
.nojs {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: white;
    text-align: center;
}

/* smooth scroll to anchors */
html {
    scroll-behavior: smooth;
}

/*home style*/
p{
    font-size:19px;
}
.title{
    font-size:45px;
    color: #b5b5b5;
    background-color: #343a40;
    letter-spacing: .1em;
}

/* btn */
.btn2 {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    /*padding: 8px 16px;*/
    /*margin: 0 10px;*/
    /*border: 1px solid #fff;*/
    letter-spacing: 1px;
    border: none;
    height: 40px;
    line-height: 40px;
    position: relative;
    padding: 0;
    margin: 0 16px;
}
.btn2:hover {
    text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
    border-width: 1px 0 1px 0;
    color:white;
    text-decoration: none;
    text-decoration-color: white;
}
.btn2-wrapper {
    display: inline-block;
}
.btn2-wrapper:hover {
    transition: all .1s;
    background: rgba(255,255,255,0.2);
    border-color: #ffffff;
}
.btn2:before,
.btn2:after {
    width: 15px;
    border: 1px solid #fff;
    position: absolute;
    content: "";
    height: 40px;
    top: -1px;
}
.btn2:before {
    left: -16px;
    border-right: none;
}
.btn2:after {
    right: -16px;
    border-left: none;
}
/*.btn2:hover,*/
/*.btn2:hover:before,*/
/*.btn2:hover:after {*/
/*    transition: all .1s;*/
/*    background: rgba(255,255,255,0.2);*/
/*    border-color: #ffffff;*/
/*}*/
